@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gajraj+One&family=Josefin+Sans:wght@600&family=Kanit:ital,wght@1,300&family=Lalezar&family=Mukta:wght@300&family=Oswald:wght@500&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,500&family=Secular+One&family=Tilt+Prism&display=swap");

.profile-col {
  width: 100%;
  display: flex;
  font-family: "Secular One";
}

.profile-col .col-1 {
  width: 60%;
  border-right: 5px solid black;
  border-top: 5px solid black;
  padding: 20px 40px;
}

.profile-col .col-2 {
  width: 40%;
  border-left: 5px solid black;
  border-top: 5px solid black;
  padding: 20px 40px;
}

.post-save {
  font-family: "Secular One";
}
